@font-face {
  font-family: 'Space Grotesk';
  src: url(./assets/fonts/SpaceGrotesk-VariableFont.woff2) format('woff2');
  font-weight: 300 700;
  font-display: swap;
}

:root {
  --fs-300: 0.75rem;
  --fs-350: 1rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.5rem;
  --fs-550: 1.5rem;
  --fs-700: 2rem;
  --fs-900: 2.5rem;

  --clr-primary: hsla(0, 0%, 8%, 1);
  --clr-accent: hsla(153, 71%, 59%, 1);
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-neutral-400: hsla(0, 0%, 85%, 1);
  --clr-neutral-700: hsla(0, 0%, 14%, 1);

  --clr-error: hsla(7, 100%, 68%, 1);

  --max-wrapper-width: 69.375rem;
  --body-inline-padding: 1rem;

  --highlight-duration: 200ms;
}

@media (width>37em) {
  :root {
    --fs-400: 1.125rem;
    --fs-500: 2rem;
    --fs-700: 3rem;
    --fs-900: 4.5rem;

    --body-inline-padding: 2rem;
  }
}

@media (width>60em) {
  :root {
    --fs-900: 5.5rem;
  }
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styles */

body {
  font-family: 'Space Grotesk', sans-serif;
  font-size: var(--fs-400);
  font-weight: 500;
  line-height: 1.75;
  color: var(--clr-neutral-400);
  background-color: var(--clr-primary);
  overflow-x: hidden;
}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
  color: var(--clr-neutral-100);
}

.heading-xl {
  font-size: var(--fs-900);
  letter-spacing: -0.15625rem;
}

.heading-l {
  font-size: var(--fs-700);
  letter-spacing: -0.09375rem;
}

.heading-m {
  font-size: var(--fs-550);
}

/* Utlity classes */

.wrapper {
  width: min(100%, var(--max-wrapper-width));
  margin-inline: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Animations */

.from-left,
.from-right {
  opacity: 0;
  transition: opacity 400ms linear, transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
  opacity: 1;
  transform: translateX(0);
}

.fade-in {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 400ms linear, transform 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  transform: scale(1);
}

@media (width>37em) {
  .from-left {
    transform: translateX(-5rem);
  }

  .from-right {
    transform: translateX(5rem);
  }
}

/* Button */

.btn {
  display: inline-block;

  font-size: var(--fs-350);
  font-weight: 700;
  line-height: 1.625;
  text-transform: uppercase;
  letter-spacing: 0.14288rem;
  color: var(--clr-neutral-100);
  text-decoration: none;
  cursor: pointer;

  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid var(--clr-accent);
  transition: color;
  transition: color var(--highlight-duration) ease-out;

  padding-bottom: 0.62rem;
}

.btn:is(:hover, :focus) {
  color: var(--clr-accent);
}

/* Links */

.header {
  padding-top: 1.25rem;
  padding-inline: var(--body-inline-padding);
}

.logo {
  font-size: var(--fs-500);
  font-weight: 700;
  letter-spacing: -0.02775rem;
  line-height: 1;
  text-decoration: none;
  color: var(--clr-neutral-100);

  transition: color var(--highlight-duration) ease-out;
}

.logo:is(:hover, :focus) {
  color: var(--clr-accent);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

.social {
  display: flex;
  gap: 1.15rem;
  list-style: none;
}

.social path {
  transition: fill var(--highlight-duration) ease-out;
}

.social a:is(:hover, :focus) path {
  fill: var(--clr-accent);
}

@media (width>37em) {
  .header {
    padding-top: 1.81rem;
  }

  .links {
    flex-direction: row;
    justify-content: space-between;
  }

  .social {
    gap: 1.75rem;
  }
}

@media (width>60em) {
  .header {
    padding-top: 2.69rem;
  }

  .header .social {
    margin-right: 1.84rem;
  }
}

/* Hero Section */

.hero {
  padding-inline: var(--body-inline-padding);
}

.hero::after {
  content: url(./assets/images/pattern-rings.svg);
  position: absolute;
  top: 7.75rem;
  left: 0;
  transform: translateX(-21.38rem);
  z-index: -2;
}

.hero__inner {
  display: grid;

  border-bottom: 0.0625rem solid var(--clr-neutral-100);

  padding-bottom: 5rem;
}

.hero__img {
  width: 10.9rem;
  height: 23.9rem;

  position: absolute;
  top: 0;
  justify-self: center;
  z-index: -1;
}

.hero__img::after {
  --_size: 8.0625rem;
  width: var(--_size);
  height: var(--_size);

  content: url(./assets/images/pattern-circle.svg);
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(calc(100% + 2.22rem));
}

.hero__content {
  text-align: center;

  margin-top: 20.69rem;
}

.underline {
  position: relative;
  white-space: nowrap;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.25rem;
  background-color: var(--clr-accent);
}

.hero__text {
  margin-block: 1.5rem;
}

@media (width>37em) {
  .hero::after {
    top: 5.38rem;
    transform: translateX(-16.56rem);
    z-index: -1;
  }

  .hero__inner {
    padding-bottom: 3.75rem;
  }

  .hero__img {
    width: 20.1rem;
    height: 37.5rem;

    right: 0;
  }

  .hero__img::after {
    transform: translateX(50%);
  }

  .hero__content {
    text-align: start;

    margin-top: 5.62rem;
  }

  #hero__title {
    max-width: 9ch;
    width: 60%;
  }

  .hero__text {
    max-width: 38ch;

    margin-block: 4.13rem 2.12rem;
  }
}

@media (width>60em) {
  .hero::after {
    top: 8.31rem;
    transform: translateX(-6.25rem);
  }

  .hero__inner {
    padding-bottom: 13.69rem;
  }

  .hero__img {
    width: 27.8rem;
    height: 45rem;

    right: calc(calc(100vw - var(--max-wrapper-width)) / 2);
  }

  .hero__img::after {
    bottom: 4.37rem;
    left: 0;
    right: auto;
    transform: translateX(-50%);
  }

  .hero__content {
    margin-top: 7.94rem;
  }

  #hero__title {
    max-width: 13ch;
    width: 100%;
  }

  .hero__text {
    margin-block: 2.69rem 4.13rem;
  }
}

/* Skills section */

.skills {
  text-align: center;
  border-bottom: 0.0625rem solid var(--clr-neutral-100);

  padding-block: 2.5rem;
  padding-inline: var(--body-inline-padding);
}

.skills__inner {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 1.5rem;
}

.skills__inner::after {
  content: url(./assets/images/pattern-rings.svg);
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(22.5rem, 7.1rem);
}

.skill {
  width: max-content;
}

@media (width>37em) {
  .skills {
    text-align: start;
    border-bottom: none;

    padding-block: 3.25rem 0rem;
  }

  .skills__inner {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 3.25rem 0.5rem;
  }

  .skills__inner::after {
    bottom: auto;
    top: 20.87rem;
    transform: translate(22.75rem, -0.75rem);
  }

  .skills__inner .heading-l {
    margin-bottom: 0.88rem;
  }
}

@media (width>60em) {
  .skills {
    padding-block: 4.5rem 0rem;
  }

  .skills__inner {
    grid-template-columns: repeat(3, 1fr);
    gap: 3.63rem 2rem;
  }

  .skills__inner::after {
    top: 11.25rem;
    transform: translate(25.25rem, -0.75rem);
  }
}

/* Projects section */

.projects {
  margin-block: 5rem;
  padding-inline: var(--body-inline-padding);
}

.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__grid {
  display: grid;
  gap: 2.5rem;

  margin-top: 2.5rem;
}

.project {
  display: grid;
  justify-items: start;
  gap: 1.25rem 2rem;
}

.project__img-links {
  display: none;
}

.project__tools {
  display: flex;
  gap: 1.25rem;

  list-style: none;

  margin-top: -0.81rem;
}

.project__link-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: start;
  gap: 2rem;
}

@media (width>37em) {
  .projects {
    margin-block: 6.25rem;
  }

  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3.75rem 1.25rem;

    margin-top: 3.75rem;
  }
}

@media (width>60em) {
  .projects {
    margin-block: 8.75rem;
  }

  .projects__grid {
    gap: 4.31rem 1.5rem;

    margin-top: 5rem;
  }

  .project__img,
  .project__link-wrapper {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .project__img {
    position: relative;

    display: grid;
    grid-template-areas: 'stack';
  }

  .project__img > * {
    grid-area: stack;
  }

  .project__img-links {
    place-self: center;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    opacity: 0;
    transition: opacity 500ms 200ms;
  }

  .project__img:is(:hover, :focus) .project__img-links {
    opacity: 1;
  }

  .project__img::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: all 300ms;
  }

  .project__img:is(:hover, :focus)::after {
    backdrop-filter: blur(0.4rem);
    background-color: hsla(0, 0%, 0%, 0.75);
  }

  .project__link-wrapper {
    display: none;
  }
}

/* Footer */

.footer {
  background-color: var(--clr-neutral-700);
  text-align: center;

  padding-block: 3.75rem;
  padding-inline: var(--body-inline-padding);
}

#contact {
  position: relative;
  display: grid;
  justify-items: center;
  gap: 3.13rem;

  border-bottom: 0.0625rem solid var(--clr-neutral-100);
  padding-bottom: 5.44rem;
}

#contact > * {
  width: min(100%, 27.8125rem);
}

#contact::after {
  content: url(./assets/images/pattern-rings.svg);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-22.44rem, -5.8rem);
}

#contact__title {
  margin-bottom: 1.25rem;
}

.contact__form .form-group {
  position: relative;
}

.contact__form .form-input {
  width: 100%;

  font-size: var(--fs-350);
  background-color: transparent;
  border: none;
  border-bottom: 0.0625rem solid var(--clr-neutral-100);
  transition: background-color 200ms ease-out;

  padding: 0 2rem 1rem 1.5rem;
}

.contact__form textarea {
  height: 6.6875rem;
  resize: none;
  scrollbar-gutter: stable;
}

.contact__form .form-input[aria-invalid='true'] {
  border-color: var(--clr-error);
}

.contact__form .error {
  height: 2rem;

  font-size: var(--fs-300);
  color: var(--clr-error);
  text-align: end;

  padding-top: 0.31rem;
}

.contact__form .form-input[aria-invalid='true'] ~ .error::after {
  content: '!';
  width: 1.5rem;
  aspect-ratio: 1;

  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  right: 0;

  border-radius: 50%;
  border: 0.0625rem solid var(--clr-error);
}

.contact__form .form-input:hover {
  background-color: hsla(0, 0%, 0%, 0.1);
  border-radius: 0.5rem 0.5rem 0 0;
}

.contact__form .form-input:focus {
  background-color: transparent;

  outline: none;
  border-color: var(--clr-accent);
}

.contact__form ::placeholder {
  text-transform: uppercase;
}

.contact__form .btn {
  display: block;
  margin-left: auto;
}

.footer .links {
  margin-top: 2.44rem;
}

@media (width>37em) {
  .footer {
    padding-block: 3.75rem 2.5rem;
  }

  #contact {
    gap: 3rem;

    padding-bottom: 5.75rem;
  }

  #contact::after {
    transform: translate(-25rem, -1.5rem);
  }

  .footer .links {
    margin-top: 1.88rem;
  }
}

@media (width>60em) {
  .footer {
    text-align: start;

    padding-block: 5.25rem 5.75rem;
  }

  #contact {
    grid-template-columns: 1fr 1fr;
  }

  #contact::after {
    transform: translate(-20.5rem, -2.7rem);
  }

  #contact__title {
    margin-bottom: 2.25rem;
  }

  .contact__form {
    justify-self: end;
  }

  .footer .links {
    margin-top: 2.94rem;
  }
}
